header{
	color:#5cb85c;
}

form{
	width:50%;
}

.winner{
	background-color: #DEF1DE;
}
.guess{
	border:1px solid #4cae4c;
}

.jumbotron{
	border: 2px solid #5cb85c;
}

.option_btn{
	color:#4cae4c;
	background-color:#DEF1DE;
	border:1px solid #4cae4c;
}

.option_btn:hover{
	background-color:#BCE4BC;
}


.warning, .hot{
	color:red;
}

.cold{
	color:blue;
}

