header{
	color:#5cb85c;
}

form{
	width:50%;
}

#guess{
	border:1px solid #4cae4c;
}

.jumbotron{
	border: 2px solid #5cb85c;
}

.option_btn{
	color:#5cb85c;
	background-color:white;
	border:1px solid #4cae4c;
}

.option_btn:hover{
	background-color:#DEF1DE;
}

#guess.error{
	border-color:1 px solid red;
}

.warning{
	color:red;
}